@charset "utf-8";
/* 居中宽度 */
/* 行高 */
/* 公共字体大小 */
/* 公共字体颜色 */
/* body背景颜色 */
/* 橘色 */
/* 白色 */
/* 渐变背景色*/
/* 宽高 */
/* 定位 */
/* 公共样式 */
* {
  margin: 0;
  padding: 0;
  color: #000000;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  border: none;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #1a1a1a;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
/* 页面背景图样式 */
.pageBG {
  width: 100%;
  height: 100%;
  background-image: url("../image/BG.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
/* 铁丝网背景样式 */
.wangBG {
  width: 100%;
  height: 100%;
  background-image: url("../image/bgts2.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.colorBG {
  width: 100%;
  height: 100%;
  background: -webkit-radial-gradient(transparent 5%, transparent 50%, #1a1a1a 80%);
  /* Safari 5.1 - 6.0 */
  background: -o-radial-gradient(transparent 5%, transparent 50%, #1a1a1a 80%);
  /* Opera 11.6 - 12.0 */
  background: -moz-radial-gradient(transparent 5%, transparent 50%, #1a1a1a 80%);
  /* Firefox 3.6 - 15 */
  background: radial-gradient(transparent 5%, transparent 50%, #1a1a1a 80%);
  /* 标准的语法 */
}
/* 绳子和x-m */
.szBox {
  height: 160px;
  width: 100%;
  position: relative;
  top: 160px;
  margin: 0 auto;
}
.szBox .image1 {
  display: block;
  margin: 0 auto;
  position: relative;
}
.szBox .image2 {
  width: 45%;
  position: absolute;
  top: 86px;
  bottom: -20px;
}
.szBox .image3 {
  width: 50%;
  position: absolute;
  bottom: -20px;
  left: 50%;
}
.szBox .image4 {
  width: 50%;
  display: block;
  margin: 0 auto;
  position: relative;
  top: -220px;
  left: -5%;
}
