@charset "utf-8";
@import "common";

/* 公共样式 */
.reset();

html,body{
	height: 100%;
	width:100%;
	background-color: @bg-color;
}

.swiper-container{
	width: 100%;
	height:100%;
}

.pageBGImg(){
	background-image: url("../image/BG.png");
	background-repeat: no-repeat;
	background-size: 100%;
}
.wangBGImg(){
	background-image: url("../image/bgts2.png");
	background-repeat: no-repeat;
	background-size: 100%;
}
/* 页面背景图样式 */
.pageBG{
	width: @width100;
	height: @height100;
	.pageBGImg();
}

/* 铁丝网背景样式 */
.wangBG{
	width: @width100;
	height: @height100;
	.wangBGImg();
}

.colorBG{
	width: @width100;
	height: @height100;
	.radialGradient();
}
#content {
  .rel();
  z-index: 999;
  margin: 0 auto;
  padding: 0 0 50px;
  max-width: 100%;
  width: 70%;
  height: 990px;
}
/* 绳子和x-m */
.timeNum{
	color: #fff;
	width: 170px;
    height: 190px;
    position: absolute;
    left: 100%;
    top: 126%;
    z-index: 99;
    li{
    	color: #fff;
    	background-image: url("../image/ts01.png");
    	background-repeat: no-repeat;
    	background-size: auto 34px;
	    width: 124px;
	    height: 36px;
	    line-height: 0px;
	    font-weight: bold;
    }
    span{
    	color: #fff;
    	font-weight: bold;
    }
}

// BEIJING
.BEIJING{
	width: 520px;
	height: 150px;
	.rel();
	bottom: 0;
	.margin();
	margin-top: 46px;
	h2{
		color: @ft-color;
		font-size: @ft14 + 10px;
		width: 520px;
		height: 60px;
		line-height: 60px;
		text-align: center;
	}
	p{
		color: @ft-color;
		font-size: @ft14;
		width: 520px;
		height: 44px;
		text-align: center;
	}
}


// video
.video{
	padding-top: 170px;
	height: 300px;
	.rel();
	.swiper-video{
		overflow: hidden;
		color: #fff;
		// height: 100%;
	}
	.swiper-slide{
		color: #fff;
	}
	embed{
		width: 100%;
		height: 100%;
	}
	.tsB{
		width: 100%;
		.abs();
		z-index: 10;
		bottom: -100%;
	}
	.playBgBox{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
	}
	.playBG{
		position: absolute;
		background-color: #000;
		opacity: 0.2;
	    width: 100%;
	    height: 100%;
	}
	.playBtn{
		display: block;
		margin: 0 auto;
	}
	.dec_play{
		background-image: url("image/play.png");
	}
	.dec_play::before{
				display: none;
	}
	.dec_play::after{
		display: none;
	}
}


// 最后一页
.tsEnd{
	padding-top: 170px;
	height: 430px;
	width: 90%;
	.margin();
	.rel();
	// 绳子方法
	.szImage(){
		.abs();
		background-image: url(../image/ts04.png);
		background-repeat: repeat-x;
		height: 40px;
		width:800px;
	}
	@absTop1:220px;
	@absTop2:424px;
	@absLeft:340px;
	@absRight:1000px;
	.image8{
		top: @absTop1;
		.szImage();
		left: @absLeft;
	}
	.image10{
		top: @absTop2;
		.szImage();
		left: @absLeft;
	}
	.image21{
		top: @absTop1;
		.szImage();
		right: @absRight;
	}
	.image22{
		top: @absTop2;
		.szImage();
		right: @absRight;
	}
	.image9{
		.abs();
		left: 106px;
		width: 500px;
	}
	.image11{
		.abs();
		top: 222px;
		left: 1100px;
		height: 220px;
	}
	.image12{
		.abs();
		top: 160px;
		left: 1030px;
	}
	.image13{
		.abs();
		left: 930px;
		bottom: -100px;
		width: 230px;
	}
	.pzBox{
		.rel();
		.image14{
			.abs();
			left: 277px;
		    top: 80px;
		    width: 150px;
		}
		ul{
			.abs();
			width: 384px;
		    left: 165px;
		    height: 180px;
		    top: 124px;
		    overflow: hidden;
		}
		li{
			width: 80px;
			height: 50px;
			margin:16px 22px;
			.fl();
			.image15,.image16,.image17,.image18,.image19,.image20{
				.abs();
				width: 80px;
				height: 50px;
			}
		}
	}
}
// 地址
.dizhi{
	.rel();
	width: 360px;
	top: -164px;
	left: 720px;
	p{
		color: @ft-color;
		font-size: @ft14 - 2px;
		line-height: @ft14 + 10px;
		letter-spacing:4px;

	}
}

// 上一页下一页
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
	background-image: url("../image/SCROLL.png");
	width:100px;
	color: @white;
	top: 80%;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
	background-image: url("../image/SCROLL.png");
	width:100px;
	color: @white;
	top: 80%;
}
// 控制起始页箭头显示
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
	opacity: 0;
}


